body {
  font-size: 16px;
  font-family: sans-serif;
}

header {
  padding: .3rem;
  background-color: rgb(97, 18, 171);
  color: white;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}


main {
  margin: 0 auto;
  max-width: 400px;
}

form select {
  padding: 5px;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: #ded8d8;
}

form label {
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}

form div {
  padding-top: 1rem;
  font-size: 1rem;
}

form input[type="text"],
form input[type="date"] {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 6px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 370px;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 6px;
}

form input[type="submit"] {
  border-radius: 6px;
  padding: .8rem;
  width: 99%;
  max-width: 400px;
  background-color: rgb(97, 18, 171);
  color: aliceblue;
  margin-bottom: 1rem;
}

footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  main {
    max-width: 700px;  
    padding: 2rem;     
    background-color: #fff; 
  }


  form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
  }

  form label, 
  form div, 
  form select, 
  form textarea {
    grid-column: span 2; 
  }

  form input[type="submit"] {
    grid-column: span 2; 
  }
    footer {
    max-width: 700px;     
    padding: 1rem 1rem;   
  }

}
