* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: Arial, sans-serif;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    grid-column: 1 /4;
}

h1 {
    background: lightblue;
    padding: 2rem;
}

nav {

    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #333;
    grid-column: 1 /4;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;


}


.navigation li {
    flex: 1;
    text-align: center;
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}



main {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;

}




.main-content {
    background: lightgreen;

}

.aside-content {
    background: coral;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}