@media (min-width: 640px) {

    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    #menubutton {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}