* {
    margin: o;
    padding: 0;
}

body {
    font-family: sans-serif;
}



header {
    text-align: center;
    padding: 1rem;
    background-color: #f5f5f5;
}

nav a {
    display: block;
    margin: 0.5rem 0;
    color: #333;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

figure {
    margin: 0;
    text-align: center;
}

img {
    width: 25%;
    height: auto;
}

figcaption {
    margin-top: 0.5rem;
    font-style: italic;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f5f5f5;
    font-size: 0.9rem;
}

#menubutton {
    background-color: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

#primarynav {
    display: none;
}